.card {
  align-items: center;
}

.card_heading {
  padding-top: 1rem;
  font-weight: 700;
  color: dimgray;
  text-align: center;
}

.card_value {
  font-size: 1.25rem;
  color: dimgray;
  text-align: center;
}